<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>UTF-8</comment>
<entry key="PASS">telgua+503</entry>
<entry key="Puerto">125</entry>
<entry key="USER">JL637879</entry>
<entry key="IP">172.20.6.25</entry>
</properties>
